@use "../variables" as *;
@use "../mixins" as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1030px) {
  .layout {
    overflow-x: hidden;
  }
}