@use "../../_variables" as *;

.navbarContainer {
  width: 85vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: calc(2rem + 3vmin);
  background-color: $clr_primary_1;
  margin: 1rem auto;
  border-radius: $light_border_radius;

  .row {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
    height: inherit;

    &:nth-child(1) {
      width: 50%;
    }

    .navbar {
      position: relative;
      height: inherit;
      width: max-content;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover a {
        color: $grey;
      }

      &:focus a {
        color: $white;
      }

      a {
        color: $white;
        font-size: calc(0.5rem + 1.2vmin);
        font-weight: 500;
        height: 100%;
        width: max-content;
        display: grid;
        place-items: center;
      }

      .navLinksContainer {
        display: none;
        position: absolute;

        .navLinks {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 0.2rem;
          background-color: $clr_primary_1;
          padding: 1rem 2rem;
          width: max-content;

          &::after {
            content: "";
            position: absolute;
            background-color: $orange;
            height: 3px;
            width: 100%;
            top: 0;
            left: 0;
          }

          a {
            padding: 0.4rem 0;
            color: $white;
            width: 100%;

            &:hover {
              color: $orange;
            }
          }
        }
      }

      // .navLinksContainer-sm {
      //   @extend .navbarContainer;
      // }

      &:hover .navLinksContainer,
      &:focus .navLinksContainer {
        display: block;
        top: calc(1.8rem + 3vmin);
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .navbarContainer {
    width: 90vw;
    flex-direction: column;
    height: 100%;
    gap: .5rem;
    padding: .5rem 1rem;

    .row {
      width: 80%;
      justify-content: space-between;

      &:nth-child(1) {
        width: 80%;
      }

      .navbar {
        a {
          font-size: calc(0.5rem + 0.8vmin);
        }

        .navLinksContainer {
          z-index: 2;

          .navLinks {
            padding: .5rem 1rem;

            &::after {
              height: 2px;
            }

            a {
              padding: 0.2rem 0;

              &:hover {
                color: $orange;
              }
            }
          }
        }

        &:hover .navLinksContainer {
          top: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbarContainer {
    .row {
      width: 100%;
      justify-content: space-around;

      &:nth-child(1) {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .navbarContainer {
    margin: .5rem auto;
    gap: .3rem;
    padding: .5rem .6rem;

    .row {
      gap: .5rem;
    }
  }
}

@media screen and (max-width: 330px) {
  .navbarContainer {
    .row {
      .navbar {
        a {
          font-weight: 400;
          font-size: calc(0.5rem + 0.5vmin);
        }
      }
    }
  }
}